<!DOCTYPE html>
<html>
<head>
  <title>MyHub - Issues Explorer</title>
  <link rel="stylesheet" href="main.css"
<body>
  <h2>All the issues!</h2>
  <ul>
    <% issues.each do |issue|%>
        <% if issue[:state] == "closed"
             action = "reopen"
           else
             action = "close"
           end
        %>
        <form action="/issue/<%= action %>/<%= issue[:id] %>" method="post">
        <li>
          <a href="<%= issue[:url] %>"><%= issue[:id] %> - <%= issue[:title] %></a>
          <input type="Submit" value="<%= action %>">
        </li>
        </form>
    <% end %>
  </ul>

</body>
</head>
</html>